@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "brandon-grotesque";
  src: url(../fonts/Brandon_light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "brandon-grotesque";
  src: url(../fonts/Brandon_light_it.otf) format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "brandon-grotesque";
  src: url(../fonts/Brandon_reg.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "brandon-grotesque";
  src: url(../fonts/Brandon_reg_it.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "brandon-grotesque";
  src: url(../fonts/Brandon_med.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "brandon-grotesque";
  src: url(../fonts/Brandon_med_it.otf) format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "brandon-grotesque";
  src: url(../fonts/Brandon_bld.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "brandon-grotesque";
  src: url(../fonts/Brandon_bld_it.otf) format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "brandon-grotesque";
  src: url(../fonts/Brandon_blk.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "brandon-grotesque";
  src: url(../fonts/Brandon_blk_it.otf) format("opentype");
  font-weight: 700;
  font-style: italic;
}
