/* "Hanken Grotesk", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", */
html * {
  font-family: brandon-grotesque, sans-serif !important;
}
body {
  margin: 0;
  font-family: "Hanken Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  @apply bg-red-600 border-none hover:bg-red-400 text-white transition-colors duration-300 ml-2 !important;
}
.hero {
  background-image: url("./assets/images/home/bg-3.svg") !important;
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
}
/* .mark-visible .slick-list {
  overflow: visible !important;
}

.slick-active,
.slick-current,
.slick-cloned,
.slick-slide {
  transition: transform 500ms ease-in-out !important;
}
.slick-current:hover,
.slick-active:hover,
.slick-cloned:hover {
  transform: scale(1.1);
}

.slick-active:hover .slider-style {
  @apply shadow-lg;
} */
.slider-style {
  transition: all 500ms ease-in-out !important;
  @apply bg-white rounded-lg;
}
.section-container {
  @apply lg:max-w-full md:max-w-[768px] max-w-[640px] px-[2.5rem] md:px-[2rem] lg:px-[1.25rem] lg:mx-[8.25rem];
}
h3 {
  @apply text-[2.25rem] leading-[2.25rem];
}
h2 {
  @apply text-[3rem] leading-[3.25rem];
}
